data/
schemas/dita13-doctypes/
__pycache__/
*.pyc
.cache/
results/hf/

results/adapter/tokenizer.json
results/adapter/tokenizer_config.json

results/fr/adapter/tokenizer.json
results/fr/adapter/tokenizer_config.json
results/fr/adapter/vocab.json
results/fr/adapter/merges.txt
results/**/tokenizer.json
